.i1 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.i1 img {
  width: 100%;
  height: 80%;
  object-fit: fill;
}
.i2 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.i2 img {
  width: 100%;
  height: 80%;
  object-fit: fill;
}
.i3 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.i3 img {
  width: 100%;
  height: 80%;
  object-fit: fill;
}
.btngroup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.button{
  background-color: brown;
  color: white;
  padding: 10px 40px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 15 px;
}
.btngroup .button:hover{
  background-color: blueviolet;
}